#info {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
}
.logo {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.logo:hover {
  background-color: #1f1f1f;
}

#NavBar > a {
  width: fit-content;
  height: 3.25rem;
  margin: 0.2rem 0 0.2rem 0.3rem;
  display: flex;
  border-radius: 20px;
  font-size: 24px;
  align-items: center;
  padding: 0 1rem;
  text-decoration: none;
  color: inherit;
}
#NavBar > a:hover {
  background-color: #1f1f1f;
}

.active {
  font-weight: bold;
}

.bird {
  width: 2.5rem;
  height: 2.5rem;
}

i {
  margin-right: 0.75rem;
}

.ProfileTab {
  position: absolute;
  bottom: 1rem;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
}

.ProfileTab > button {
  background-color: inherit;
  color: white;
  width: 90%;
  border-radius: 50px;
  border: 1px solid gray;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.ProfileTab > button > i {
  font-size: 1.5rem;
}

.ProfileTab > button:hover {
  background-color: #1f1f1f;
}

.Post {
  background-color: #2babfb;
  color: white;
  border: none;
  border-radius: 50px;
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none;
}

.Post:hover {
  background-color: #1b95e1;
}

.PostButton {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.sideProfileImage {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.loginAndRegister {
  color: white;
  margin: 1rem;
  width: fit-content;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  #info {
    display: none;
    position: absolute;
    background-color: black;
  }
}
